body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  background-color: lavender;
}

.keyboard{
  margin: 10em;
  display: inline-block;

  background-color: grey;
  padding: 1em;
}



.keypair{
  float: left;
  position: relative;
}

.key{
  background-color: white;
  border: 0.05em solid;
  border-color: black;
  text-align: center;
  border-radius: 0 0 0.5em 0.5em;
  cursor: pointer;
  user-select: none;

}


.white-key{
  float: left;
  position: relative;
  margin: 0em 0em;
  width: 5em;
  height: 20em;
}

.black-key{
  position: absolute;
  background-color: black;
  color: white;
  z-index: 10;

  width: 50%;
  height: 67%;

  bottom: 33%;
  transform-origin: center top;
  transform: translateX(140%);
}

.black-key.key-pressed {
  background-color: darkslategray;
}
.key-pressed.white-key{
  background-color: lightgray;
}

.keyboard-controller{
  display: flex;
  background-color: silver;
  padding: 2em;
}
.slider-container{
  /* background-color: antiquewhite; */
  text-align: center;
  margin: 0 1.5em;
}
.slider{
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* Chromium */
  width: 2em;
  height: 6em;
  padding: 0 5px;
}